@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --font-family: "Rubik", sans-serif;


  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  /* ### Neutral */

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background: var(--Very-light-gray);
}

main{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.container, .container-2{
  max-width: 740px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line{
  width: 20px;
  border-right: 3px solid var(--Light-gray);
  margin-bottom: 40px;
}

.card{
  display: flex;
  gap: 25px;
  background: var(--White);
  border-radius: 20px;
  padding: 25px;
}

.container-reply-card{
  display: flex;
  gap: 20px;
  max-width: 740px;
}

.container-response{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.count{
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: fit-content;
  background: var(--Very-light-gray);
  border-radius: 10px;
}

.count-number{
  color: var(--Moderate-blue);
  font-weight: 500;
}

.container-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.container-banner{
  display: flex;
  justify-content: space-between;;
} 

.user-img{
  width: 35px;
}

.username{
  color: var(--Dark-blue);
  font-weight: 700;
}

.data{
  color: var(--Grayish-Blue);
}

.user-content{
  padding-right: 20px;
  color: var(--Grayish-Blue);
}

.reply-text, .reply-text-2{
  color: var(--Moderate-blue);
  font-weight: 700;
}
.reply-text, .plus, .minus, .send, .reply-text-2{
  cursor: pointer;
}

.container-info, .container-reply{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container-input{
  width: 100%;
  max-width: 740px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20px;
  padding: 20px;
  background: var(--White);
  gap: 20px;
}

.input{
  width: 100%;
  height: 100px;
  border: 1px solid var(--Light-grayish-blue);
  border-radius: 10px;
  padding: 10px;
  resize: none;
}

.send{
  background: var(--Moderate-blue);
  color: var(--White);
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 10px;
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }